// Please use https: //chir.ag/projects/name-that-color for naming different colors

// All Hex values
$alabaster: #F7F7F7;
$gray: #888;
$silver: #ccc;
$purpleHeart: #532de0;
$purpleHeartLight: #c9bcf6;
$bayOfMany: #234585;
$bayOfManyLight: #2345857d;
$white: #ffffff;
$lightGray: #ededed;
$successColor: #1ea97c;
$successBackground: #c7ffed;
$infoColor: #696cff;
$infoBackground: #d3d4ff;
$warningColor: #cc8925;
$warningBackground: #ffeed3;
$errorColor: #ff5757;
$errorBackground: #fdd0d0;

// ALl rgba values
$lightGrey: rgba(128, 128, 128, 0.589);
$blueShadow: rgba(25, 35, 79, 0.2);

//Box shadow
$cardShadow: 0px 6px 15px -3px $blueShadow;