// Please use https: //chir.ag/projects/name-that-color for naming different colors


// All Hex values
$alabaster: #F7F7F7;
$gray: #888;
$silver: #ccc;
$purpleHeart: #532de0;


// ALl rgba values
$lightGrey: rgba(128, 128, 128, 0.589);